.nav-tab {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  margin: 0 2px !important;
}
.nav-tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
  border: 1px solid #ccc;
  padding: 15px;
}
.hz-padding-bottom-0 {
  padding-bottom:0 !important;
}
.hz-note-td {
  color: gray;
  padding-top: 0;
  line-height: 1;
}
#hz-social-network-urls-note-p {
  color: gray;
  text-align: center
}
.social-network-label {
  display: inline-block;
  width: 170px;
}
.hz-social-network-input {
  width: 50%;
  margin-top: 5px;
  direction: ltr
}
#hz-plugin-developer-credit {
  color:#777;
  margin-top:20px;
  font-size:0.9em;
}
#hz-plugin-developer-credit a {
  text-decoration: none;
}
